/*  body{
  font-family:Montserrat;
  }
  .color-nav{
    background-color: #182983;
  }*/
  /* ESTILOS DEL SUBHEADER DE LAS PESTAÑAS */
  /*.subheader{
    margin-right: 15px;
    margin-left: 15px;
    display: block;
  }
  .color-subnav{
    background-color: #111D5C;
  }
*/
/*---------------------------------------END SUBHEADER------------------------------------------*/
  /* footer{
    background-color: #182983;
    font-family:Montserrat;
    color:white;
    padding-left:20px;
    padding-top: 10px;
  }
  
  footer hr{
    background-color:white;
    width:80%;
  
  }
  
  #social{
    width: 3.5em;
    height: 3.5em; 
    border-radius: 50%;
    display: inline-block;
  }
  .twitter {
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50%;
    background-image: url("../../static/twitter.png");
    background-color: #53c3ec;
  }
  .facebook{
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50%;
    background-image: url("../../static/facebook.png");
    background-color: #3b5998;
  }
  .instagram{
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50%;
    background-image: url("../../static/instagram.png");
    background-color: #fff;
  }
   */