#login{
  width: 40%;
  box-shadow: -4px 6px 10px 1px rgba(0,0,0,0.56);
  background-color: #E8E8E8;
  padding: 1.5em;
  border-radius: 10px;
}

#login a{
	color: #093188;
}

body{
    font-family:Montserrat;
}

h3 {
	color: grey;
}

#login input{
	width: 80%;
 	padding: .8em;
 	margin-bottom: 15px;
}

@media screen and (max-width:980px) {
#login{
	width: 70%;
}

}