#register{
	width:70%;
	box-shadow:-4px 6px 10px 1px rgba(0,0,0,0.56);
	min-height:800px;
	background-color:#E8E8E8;
	border-radius: 10px;
}

body{
	background-color:white;
}

h3 {
	color: grey;
}

input{
	width:50%;
}

#form_style{
	width:50%;
	padding: .6em;
	margin-bottom: 10px;
}

@media screen and (max-width:980px) {
  #register{
  	width:80%;
  }
  #form_style{
	width:70%;
}


}